# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/storybook-static
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.fake
/.vscode
src/.vs/src/FileContentIndex/ff62bb30-ff46-498f-9924-e184075e657a.vsidx
src/.vs/src/FileContentIndex/read.lock
src/.vs/ProjectSettings.json
src/.vs/slnx.sqlite
src/.vs/VSWorkspaceState.json
src/.vs/src/v17/.wsuo
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/ooo-ees-website/FileContentIndex/read.lock
.vs/ooo-ees-website/FileContentIndex/d2f69f34-b582-403a-945d-070048695e55.vsidx
.vs/ooo-ees-website/FileContentIndex/74ad3d53-ae7e-44ab-a29b-593ed1845121.vsidx
.vs/VSWorkspaceState.json
.vs/ooo-ees-website/FileContentIndex/d45b9d37-5916-4e38-ae08-b6a437281d54.vsidx
.vs/ooo-ees-website/v17/.wsuo
dist/85.bundle.js
dist/486.bundle.js
dist/486.bundle.js.LICENSE.txt
dist/index.bundle.js
dist/index.bundle.js.LICENSE.txt
dist/index.html
dist/print.bundle.js
dist/print.bundle.js.LICENSE.txt
dist/runtime.bundle.js
dist/shared.bundle.js
dist/shared.bundle.js.LICENSE.txt
dist/assets/logo.svg
dist/assets/css/App.css
dist/assets/css/decor-bottom.css
dist/assets/css/decor-top.css
dist/assets/css/index.css
dist/assets/css/style.css
dist/assets/css/styles-custom.css
dist/assets/css/stylesheet.css
dist/assets/fonts/Furore.otf
dist/assets/fonts/Roboto-Regular.ttf
dist/assets/fonts/roboto/Apache License.txt
dist/assets/fonts/roboto/Roboto-Black.ttf
dist/assets/fonts/roboto/Roboto-BlackItalic.ttf
dist/assets/fonts/roboto/Roboto-Bold.ttf
dist/assets/fonts/roboto/Roboto-BoldItalic.ttf
dist/assets/fonts/roboto/Roboto-Italic.ttf
dist/assets/fonts/roboto/Roboto-Light.ttf
dist/assets/fonts/roboto/Roboto-LightItalic.ttf
dist/assets/fonts/roboto/Roboto-Medium.ttf
dist/assets/fonts/roboto/Roboto-MediumItalic.ttf
dist/assets/fonts/roboto/Roboto-Regular.ttf
dist/assets/fonts/roboto/Roboto-Thin.ttf
dist/assets/fonts/roboto/Roboto-ThinItalic.ttf
dist/assets/img/bg.jpg
dist/assets/img/company-logo (Среднее).png
dist/assets/img/company-logo.png
dist/assets/img/logo.png
dist/assets/img/logo.svg
dist/assets/img/map_icon.ico
dist/assets/img/map_icon.svg
dist/assets/img/up_arrow.png
dist/assets/img/Decor/decorBottom.png
dist/assets/img/Decor/decorTop.png
dist/assets/img/Decor/left.png
dist/assets/img/Decor/right.png
dist/assets/img/Footer/Красная полоса.png
dist/assets/img/Footer/Прямоугольник 6.png
dist/assets/img/Footer/Футер.png
dist/assets/img/Footer/Footer_1017x1017.svg
dist/assets/img/Footer/Footer.svg
dist/assets/img/Footer/footerLogo.png
dist/assets/img/Footer/footerLogo.svg
dist/assets/img/Header/Карта.png
dist/assets/img/Header/Логотип и кнопки.png
dist/assets/img/Header/Поиск.png
dist/assets/img/Header/Телефон.png
dist/assets/img/Header/info@ers.msk.ru.png
dist/assets/img/Header/logo.png
dist/assets/img/PNG/Ресурс 1_016.png
dist/assets/img/PNG/Ресурс 1_032.png
dist/assets/img/PNG/Ресурс 1_048.png
dist/assets/img/PNG/Ресурс 2_016.png
dist/assets/img/PNG/Ресурс 2_032.png
dist/assets/img/PNG/Ресурс 2_048.png
dist/assets/img/Sliders/slider_img_1.png
dist/assets/img/Sliders/slider_img_2.png
dist/assets/img/Sliders/WhatsApp Image 2022-10-28 at 08.05.25.png
dist/assets/img/actions/PaperPage/Статья1.png
dist/assets/img/actions/PaperPage/Статья2.png
dist/assets/img/actions/PaperPage/Статья3.png
dist/assets/img/actions/PaperPage/Фото.png
dist/assets/img/actions/PaperPage/paper_page.png
dist/assets/img/actions/PricePage/Карточки услуг.png
dist/assets/img/actions/PricePage/Нам доверяют.png
dist/assets/img/actions/PricePage/Ремонт генератора.png
dist/assets/img/actions/PricePage/Ремонт электродвигателей.png
dist/assets/img/companiesLogos/mlrz/MLRZ-logo.png
dist/assets/img/companiesLogos/trk/trkLogo.svg
dist/assets/img/companiesLogos/vrm/logo4.png
dist/assets/img/empty/Coming-Soon1.png
dist/assets/img/gallery/Gallery_ASIG.png
dist/assets/img/gallery/Gallery_Crew_gang_bang.png
dist/assets/img/gallery/Gallery_Frezer.png
dist/assets/img/gallery/Gallery_istochnik_pitaniya.png
dist/assets/img/gallery/Gallery_Naplavka.png
dist/assets/img/gallery/Gallery_Nikita_izmeryet.png
dist/assets/img/gallery/Gallery_Ruslan.png
dist/assets/img/gallery/Gallery_SBS.png
dist/assets/img/gallery/Gallery_Stend_peremotki.png
dist/assets/img/gallery/Gallery_Stol_electronika.png
dist/assets/img/gallery/Gallery_Svarka.png
dist/assets/img/gallery/Gallery_Takarniy_stanok.png
dist/assets/img/services/1.png
dist/assets/img/services/2.png
dist/assets/img/services/3.png
dist/assets/img/services/4.png
dist/assets/img/services/5.png
dist/assets/img/services/6.png
dist/assets/img/services/7.png
dist/assets/img/services/8.png
dist/assets/img/services/9_1.png
dist/assets/img/services/9.png
dist/assets/img/services/10_1.png
dist/assets/img/services/10.png
dist/assets/img/services/service-square-blocks/Наплавка.png
dist/assets/img/services/service-square-blocks/Перемотка.png
dist/assets/img/services/service-square-blocks/Продажа компонентов.png
dist/assets/img/services/service-square-blocks/Ремонт генераторов.png
dist/assets/img/services/service-square-blocks/Ремонт плат.png
dist/assets/img/services/service-square-blocks/Ремонт трансформаторов.png
dist/assets/img/services/service-square-blocks/Ремонт холодильных машин.png
dist/assets/img/services/service-square-blocks/Ремонт электродвигателей.png
dist/assets/img/services/service-square-blocks/Ремонт электронагревателей.png
dist/assets/img/services/service-square-blocks/ТО.png
dist/assets/resource/0dcc5f24d7bf4d9905b6d34b9870e40a.png
dist/assets/resource/1ce2b4d1918b1ce78568664cef5f54c6.png
dist/assets/resource/1f69b615454d94ebcc0df74c90267004.png
dist/assets/resource/3f4d4411d94daa75f89a356eb14d997b.png
dist/assets/resource/6cd0cc5890d05f8efd0eabe8a8dc9cfb.svg
dist/assets/resource/9a3fbe824aca2e08f03d0a515ce46fd2.png
dist/assets/resource/09e5965463349b0a5f66220a74fe3b21.png
dist/assets/resource/13b74239cd032c5c08e5e4b7c38ecdf9.png
dist/assets/resource/16fc6aef3773dc1866191ae77ea18e15.png
dist/assets/resource/18fe3c5dbd6fbcd94930e0d21b2795ad.png
dist/assets/resource/46f46d5c0ed8e7b7153eb605a2e2f42b.png
dist/assets/resource/54c128f9177ced83106142f3a8d977cb.png
dist/assets/resource/71b2007ba58bc0c41bcc890071f36afa.png
dist/assets/resource/84c06f8b59d4bcd33227e34d43b46e56.png
dist/assets/resource/154d4cb75063f57df03d3993b0edd5b2.png
dist/assets/resource/303ddcb1c4b4bb6b978e8b0c901ae380.png
dist/assets/resource/385e77fb068bca10bd134be2bf951efa.png
dist/assets/resource/610afdc7ad81b9b0a1bd06f4f792a189.svg
dist/assets/resource/621ab7df7aef9e461ff1b372c00123ae.png
dist/assets/resource/639e40fff26221d4b08759eeb7f7ec58.png
dist/assets/resource/724cd0873711e3b71ed3879b21b78904.png
dist/assets/resource/865c0babea0b7b6d1a14b42306546ac7.png
dist/assets/resource/8055a55ae92c18d061494664e2e11592.png
dist/assets/resource/830379f2107096eddb17974230f97183.png
dist/assets/resource/47882324750688ddb9eedf1aac0232cc.png
dist/assets/resource/a6e67e2925399da203dab334c4b43930.png
dist/assets/resource/bada59334416c07933e2603175932dc0.png
dist/assets/resource/ca0b5c1d7a22dbd1f3459ef288bbfd5d.png
dist/assets/resource/d1971bf968e4a264896843102ae14f1e.png
dist/assets/resource/d2053bd656afe017e242baeedaecfe44.png
dist/assets/resource/ddee4f516b6e907886e4606d56e28adf.png
dist/assets/resource/ea9dfe1b15e9b6bf75e2c5c4af392b5f.png
dist/assets/resource/f5b1ee1f2b4db7fa919b44bb177eea2b.png
dist/assets/resource/f7fc1064a9d2c30cd645c6d52fbf0e78.png
dist/assets/resource/f9c3a47dfc7a16e9c4d722ac0ab82dce.png
