# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/storybook-static
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.fake
/.vscode
src/.vs/src/FileContentIndex/ff62bb30-ff46-498f-9924-e184075e657a.vsidx
src/.vs/src/FileContentIndex/read.lock
src/.vs/ProjectSettings.json
src/.vs/slnx.sqlite
src/.vs/VSWorkspaceState.json
src/.vs/src/v17/.wsuo
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/ooo-ees-website/FileContentIndex/read.lock
.vs/ooo-ees-website/FileContentIndex/d2f69f34-b582-403a-945d-070048695e55.vsidx
.vs/ooo-ees-website/FileContentIndex/74ad3d53-ae7e-44ab-a29b-593ed1845121.vsidx
.vs/VSWorkspaceState.json
.vs/ooo-ees-website/FileContentIndex/d45b9d37-5916-4e38-ae08-b6a437281d54.vsidx
.vs/ooo-ees-website/v17/.wsuo
