/* RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* COLORS and FONTS */
body {
  color: white;
  text-align: center;
  font-size: 24px;
  line-height: 3;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  background: white;
}

main {
  background: white;
}

footer {
  position: fixed;
  display: inline-flexbox;
  align-items: center;
  flex-direction: column;
  background: #292929;
}

.left-sidebar {
  background: dodgerblue;
}

.right-sidebar {
  background: forestgreen;
}

/*DESKTOP SIZE*/
@media all and (min-width: 768px) {
  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  main {
    flex: 2;
    order: 2;
    min-height: 80vh;
  }

  .left-sidebar {
    order: 1;
    flex: 1;
  }

  .right-sidebar {
    flex: 1;
    order: 3;
  }
}

@media screen and (max-width: 575px) {

  .container,
  .content {
    display: flex;
    flex-direction: column;
  }
}

@font-face {
  font-family: 'NeoSansPro';
  src: url('../assets/fonts/Furore.otf') format('otf'),
    url('../assets/fonts/NeoSansPro-Bold.otf') format('otf'),
    url('../assets/fonts/NeoSansPro-BoldItalic.otf') format('otf'),
    url('../assets/fonts/NeoSansPro-Italic.ttf') format('truetype'),
    url('../assets/fonts/NeoSansPro-Light.otf') format('otf'),
    url('../assets/fonts/NeoSansPro-LightItalic.ttf') format('truetype'),
    url('../assets/fonts/NeoSansPro-Medium.otf') format('otf'),
    url('../assets/fonts/NeoSansPro-Regular.otf') format('otf'),
    url('../assets/fonts/NeoSansPro-Ultra.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}